<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uusikaupunki</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 40px;
            text-align: center;
    </style>
</head>
<body>
    <h1>Statistics for {{ train }} at {{ station }}</h1>
    <p>Average Arrival Time: {{ avg_time }}</p>
    <a href="{{ url_for('index') }}">Back</a>
</body>
</html>
