<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uusikaupunki</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 40px;
            text-align: center;
    </style>
</head>
<body>
    <p>Based on the data from the last 30 days, the average arrival time for train number {{ train }} at station {{ station }} is</p>
    <h1>{{ avg_time }} UTC</h1>
    <p>Make sure to plan accordingly!</p>
    <a href="{{ url_for('index') }}">Back</a>
</body>
</html>
